{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}Imali.biz{% endblock %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link
      rel="stylesheet"
      href="path/to/font-awesome/css/font-awesome.min.css"
    />
    <style>
      body {
        font-family: 'Hina Mincho', serif;
      }
      .nav-item {
        color: white;
        text-decoration: none;
        padding-left: 20px;
        padding-right: 30px;
        font-size: 1.2rem;
      }
      .nav-item:hover {
        color: #a8c634;
      }
      .flex-container {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  text-align: center;
}
.flex-container a {
  color: white;
  text-decoration: none;
}


.flex-item-left {
  background-color: rgba(0, 0, 0, 0.6);;
  padding: 10px;
  flex: 50%;
}

.flex-item-right {
  background-color: rgba(0, 0, 0, 0.6);;
  padding: 10px;
  flex: 50%;
}
.real{
font-family: 'Roboto';
text-align: center;
font-size: 30px;
font-weight: bold;

}
.footer{
  background-color: #010203;
  bottom: 0;
  width: 100%;
  height: auto;
  position: relative;
  margin-top: 30px;
  
}
.footer a{
  color: white;
  text-decoration: none;
}
.column {
  float: left;
  width: 33.3%;
  padding: 0 10px;
}
.fex{
margin-top:2%;
width: 90px;
height: 40px;
color: white;
border-radius: 5px;

}
/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}
@media (max-width: 800px) {
  .flex-container {
    flex-direction: row;
  }
}
    </style>
  </head>
  <body>
    <div style="background-color: black; height: 80px;">
    <nav class="navbar navbar-expand-sm black navbar-dark">
      <a class="navbar-brand" href="{%url 'home'%}">
        <img
          src="{% static 'Images/imalilogo.png' %}"
          alt="logo"
          style="width: 90%; margin-left: 30px;"
        />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarText"
        aria-controls="navbarText"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText" style="background-color: black;">
        <ul class="navbar-nav mr-auto"></ul>
        <div>
          <a
            style="text-decoration: none;"
            class="nav-item"
            href="{%url 'land'%}"
          >
          Land
          </a>
          <a
            style="text-decoration: none;"
            class="nav-item"
            href="{%url 'investor'%}"
          >
            Investors
          </a>
          <a
            style="text-decoration: none;"
            class="nav-item"
            href="{%url 'developer'%}"
          >
          Developers          </a>
          <a
            style="text-decoration: none;"
            class="nav-item"
            href="{%url 'buyer'%}"
          >
          Buyers
          </a>
          <a
            style="text-decoration: none;"
            class="nav-item"
            href="{%url 'data'%}"
          >
          Data
          </a>
        </div>
      </div>
    </nav>
    <div class="flex-container">
      <a class="flex-item-left" href="{%url 'landexplanation'%}">Feasability</a>
      <a class="flex-item-right" href="{%url 'landexplanation'%}">Desirability</a>
      <a class="flex-item-right"href="{%url 'landexplanation'%}">Viability</a>
    </div>
    <!-- body code -->
<div>
  <h1 class="real">Land for Sale</h1>  
  <p style="text-align:center;">Did you know you imali.biz can help you to get investors to your land? </p>
</div>
<div class="row">
  <div class="column">
    <div class="card">
      <h5>Special Plot for sale in Kibagabaga</h5>
      <img
            src="{% static 'Images/land1.png' %}"
            alt="logo"
            style=" border-radius: 5%;"
          />
          <div>
            <p class="fex" style="background-color: #4CAF50;">AA</p>
            <button type="button" class="btn .bg-light border border-success btn-icon-text " style="margin-top:-27%;">
              <i class="fa fa-picture-o "></i>
                  Photo
              </button>
              <button type="button" class="btn .bg-light border border-success btn-icon-text "style="margin-top:-27%";>
                <i class="fa fa-youtube-play "></i>
                Video
                </button>
          <p style="margin-right: 9%;">Number of apartments_________________32</p>
          <p style="margin-right: 5%;">Mode of Payment______________________Equity</p>
          <p>Space________________________________324 Sqm</p>
          <p style="margin-right: 9%;">zooning______________________________R1</p>
          <p>Price________________________________$15,000</p>
          <p style="margin-right: 8%;">Cost/sqm______________________________$50</p>
        </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <h5>Nice plot for Sale in Kibagabaga</h5>
      <img
      
            src="{% static 'Images/land2.png' %}"
            alt="logo"
            style=" border-radius: 5%;"
          />
          <div>
            <p class="fex" style="background-color:#0FA958;">AAA</p>
            <button type="button" class="btn .bg-light border border-success btn-icon-text " style="margin-top:-27%;">
              <i class="fa fa-picture-o "></i>
                  Photo
              </button>
              <button type="button" class="btn .bg-light border border-success btn-icon-text "style="margin-top:-27%";>
                <i class="fa fa-youtube-play "></i>
                Video
                </button>
            <p style="margin-right: 9%;">Number of apartments_________________32</p>
            <p style="margin-right: 5%;">Mode of Payment______________________Equity</p>
            <p>Space________________________________324 Sqm</p>
            <p style="margin-right: 9%;">zooning______________________________R1</p>
            <p>Price________________________________$15,000</p>
            <p style="margin-right: 8%;">Cost/sqm______________________________$50</p>
          </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <h5>Kanombe Plot For Sale</h5>
      
      <img
            src="{% static 'Images/land3.png' %}" 
            alt="logo"
            style=" border-radius: 5%;"

          />
          <div>
            <p class="fex" style="background-color: #4CAF50;">AA</p>
            <button type="button" class="btn .bg-light border border-success btn-icon-text " style="margin-top:-27%;">
              <i class="fa fa-picture-o "></i>
                  Photo
              </button>
              <button type="button" class="btn .bg-light border border-success btn-icon-text "style="margin-top:-27%";>
                <i class="fa fa-youtube-play "></i>
                Video
                </button>
            <p style="margin-right: 9%;">Number of apartments_________________32</p>
            <p style="margin-right: 5%;">Mode of Payment______________________Equity</p>
            <p>Space________________________________324 Sqm</p>
            <p style="margin-right: 9%;">zooning______________________________R1</p>
            <p>Price________________________________$15,000</p>
            <p style="margin-right: 8%;">Cost/sqm______________________________$50</p>
          </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="column">
    <div class="card">
      <h5>Nice plot in Gasharu Kanombe</h5>
      <img
            src="{% static 'Images/land4.png' %}"
            alt="logo"
            style=" border-radius: 5%;"
          />
          <div>
            <p class="fex" style="background-color:#C3902E;">BBB</p>
            <button type="button" class="btn .bg-light border border-success btn-icon-text " style="margin-top:-27%;">
              <i class="fa fa-picture-o "></i>
                  Photo
              </button>
              <button type="button" class="btn .bg-light border border-success btn-icon-text "style="margin-top:-27%";>
                <i class="fa fa-youtube-play "></i>
                Video
                </button>
          <p style="margin-right: 9%;">Number of apartments_________________32</p>
          <p style="margin-right: 5%;">Mode of Payment______________________Equity</p>
          <p>Space________________________________324 Sqm</p>
          <p style="margin-right: 9%;">zooning______________________________R1</p>
          <p>Price________________________________$15,000</p>
          <p style="margin-right: 8%;">Cost/sqm______________________________$50</p>
        </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <h5>Fabulous plot in Busanza Kanombe</h5>
      <img
            src="{% static 'Images/land5.png' %}"
            alt="logo"
            style=" border-radius: 5%;"
          />
          <div>
            <p class="fex" style="background-color: #4FC353;">A</p>
            <button type="button" class="btn .bg-light border border-success btn-icon-text " style="margin-top:-27%;">
              <i class="fa fa-picture-o "></i>
                  Photo
              </button>
              <button type="button" class="btn .bg-light border border-success btn-icon-text "style="margin-top:-27%";>
                <i class="fa fa-youtube-play "></i>
                Video
                </button>
            <p style="margin-right: 9%;">Number of apartments_________________32</p>
            <p style="margin-right: 5%;">Mode of Payment______________________Equity</p>
            <p>Space________________________________324 Sqm</p>
            <p style="margin-right: 9%;">zooning______________________________R1</p>
            <p>Price________________________________$15,000</p>
            <p style="margin-right: 8%;">Cost/sqm______________________________$50</p>
          </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <h5>4 Plot for sale in Kanombe</h5>
      <img
            src="{% static 'Images/land6.png' %}"
            alt="logo"
            style=" border-radius: 5%;"
          />
          <div>
            <p class="fex" style="background-color:#C3902E;">B</p>
            <button type="button" class="btn .bg-light border border-success btn-icon-text " style="margin-top:-27%;">
              <i class="fa fa-picture-o "></i>
                  Photo
              </button>
              <button type="button" class="btn .bg-light border border-success btn-icon-text "style="margin-top:-27%";>
                <i class="fa fa-youtube-play "></i>
                Video
                </button>
            <p style="margin-right: 9%;">Number of apartments_________________32</p>
            <p style="margin-right: 5%;">Mode of Payment______________________Equity</p>
            <p>Space________________________________324 Sqm</p>
            <p style="margin-right: 9%;">zooning______________________________R1</p>
            <p>Price________________________________$15,000</p>
            <p style="margin-right: 8%;">Cost/sqm______________________________$50</p>
          </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="column">
    <div class="card">
      <h5>Nice plot for sale in Kabeza Samuduha</h5>
      <img
            src="{% static 'Images/land7.png' %}"
            alt="logo"
            style=" border-radius: 5%;"
          />
          <div>
            <p class="fex" style="background-color:#C3902E;">BB</p>
            <button type="button" class="btn .bg-light border border-success btn-icon-text " style="margin-top:-27%;">
              <i class="fa fa-picture-o "></i>
                  Photo
              </button>
              <button type="button" class="btn .bg-light border border-success btn-icon-text "style="margin-top:-27%";>
                <i class="fa fa-youtube-play "></i>
                Video
                </button>
          <p style="margin-right: 9%;">Number of apartments_________________32</p>
          <p style="margin-right: 5%;">Mode of Payment______________________Equity</p>
          <p>Space________________________________324 Sqm</p>
          <p style="margin-right: 9%;">zooning______________________________R1</p>
          <p>Price________________________________$15,000</p>
          <p style="margin-right: 8%;">Cost/sqm______________________________$50</p>
        </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <h5>Wonderful plot in Rebero</h5>
      <img
            src="{% static 'Images/land8.png' %}"
            alt="logo"
            style=" border-radius: 5%;"
          />
          <div>
            <p class="fex" style="background-color:#EB2121;">CC</p>
            <button type="button" class="btn .bg-light border border-success btn-icon-text " style="margin-top:-27%;">
              <i class="fa fa-picture-o "></i>
                  Photo
              </button>
              <button type="button" class="btn .bg-light border border-success btn-icon-text "style="margin-top:-27%";>
                <i class="fa fa-youtube-play "></i>
                Video
                </button>
            <p style="margin-right: 9%;">Number of apartments_________________32</p>
            <p style="margin-right: 5%;">Mode of Payment______________________Equity</p>
            <p>Space________________________________324 Sqm</p>
            <p style="margin-right: 9%;">zooning______________________________R1</p>
            <p>Price________________________________$15,000</p>
            <p style="margin-right: 8%;">Cost/sqm______________________________$50</p>
          </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <h5>Very nice plot for sale in  Gihanga</h5>
      <img
            src="{% static 'Images/land9.png' %}"
            alt="logo"
            style=" border-radius: 5%;"
          />
          <div>
            <p class="fex" style="background-color:#0FA958;">AAA</p>
            <button type="button" class="btn .bg-light border border-success btn-icon-text " style="margin-top:-27%;">
              <i class="fa fa-picture-o "></i>
                  Photo
              </button>
              <button type="button" class="btn .bg-light border border-success btn-icon-text "style="margin-top:-27%";>
                <i class="fa fa-youtube-play "></i>
                Video
                </button>
            <p style="margin-right: 9%;">Number of apartments_________________32</p>
            <p style="margin-right: 5%;">Mode of Payment______________________Equity</p>
            <p>Space________________________________324 Sqm</p>
            <p style="margin-right: 9%;">zooning______________________________R1</p>
            <p>Price________________________________$15,000</p>
            <p style="margin-right: 8%;">Cost/sqm______________________________$50</p>
          </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="column">
    <div class="card">
      <h5>Nice plot for sale in Nyarugenge</h5>
      <img
            src="{% static 'Images/land10.png' %}"
            alt="logo"
            style=" border-radius: 5%;"
          />
          <div>
            <p class="fex" style="background-color:#4FC353;">A</p>
            <button type="button" class="btn .bg-light border border-success btn-icon-text " style="margin-top:-27%;">
              <i class="fa fa-picture-o "></i>
                  Photo
              </button>
              <button type="button" class="btn .bg-light border border-success btn-icon-text "style="margin-top:-27%";>
                <i class="fa fa-youtube-play "></i>
                Video
                </button>
          <p style="margin-right: 9%;">Number of apartments_________________32</p>
          <p style="margin-right: 5%;">Mode of Payment______________________Equity</p>
          <p>Space________________________________324 Sqm</p>
          <p style="margin-right: 9%;">zooning______________________________R1</p>
          <p>Price________________________________$15,000</p>
          <p style="margin-right: 8%;">Cost/sqm______________________________$50</p>
        </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <h5>Wonderful plot in Busaza</h5>
      <img
            src="{% static 'Images/land11.png' %}"
            alt="logo"
            style=" border-radius: 5%;"
          />
          <div>
            <p class="fex" style="background-color:#EB2121;">CCC</p>
            <button type="button" class="btn .bg-light border border-success btn-icon-text " style="margin-top:-27%;">
              <i class="fa fa-picture-o "></i>
                  Photo
              </button>
              <button type="button" class="btn .bg-light border border-success btn-icon-text "style="margin-top:-27%";>
                <i class="fa fa-youtube-play "></i>
                Video
                </button>
            <p style="margin-right: 9%;">Number of apartments_________________32</p>
            <p style="margin-right: 5%;">Mode of Payment______________________Equity</p>
            <p>Space________________________________324 Sqm</p>
            <p style="margin-right: 9%;">zooning______________________________R1</p>
            <p>Price________________________________$15,000</p>
            <p style="margin-right: 8%;">Cost/sqm______________________________$50</p>
          </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <h5>Very nice plot for sale in Rubavu</h5>
      <img
            src="{% static 'Images/land12.png' %}"
            alt="logo"
            style=" border-radius: 5%;"
          />
          <div>
            <p class="fex" style="background-color: #EB2121;">C</p>
            <button type="button" class="btn .bg-light border border-success btn-icon-text " style="margin-top:-27%;">
              <i class="fa fa-picture-o "></i>
                  Photo
              </button>
              <button type="button" class="btn .bg-light border border-success btn-icon-text "style="margin-top:-27%";>
                <i class="fa fa-youtube-play "></i>
                Video
                </button>
            <p style="margin-right: 9%;">Number of apartments_________________32</p>
            <p style="margin-right: 5%;">Mode of Payment______________________Equity</p>
            <p>Space________________________________324 Sqm</p>
            <p style="margin-right: 9%;">zooning______________________________R1</p>
            <p>Price________________________________$15,000</p>
            <p style="margin-right: 8%;">Cost/sqm______________________________$50</p>
          </div>
    </div>
  </div>
</div>
<a href=" {%url 'land_form'%}" class="btn bg-success" style="color:white; text-align: center;margin-left: 900px;">Do you want to sell your land</a>

{% if land.profile %}
          <td><img src="{{land.profile.url}}"></td>
          {% endif %}
       <!-- footer code  -->
  <div class="footerspacer"></div>
  <div class="container-fluid">
      <div class="row">
        <footer class="footer" style="color: white;">
      
          <!-- Right -->
          <div>
            
        <section class="">
          <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
              <!-- Grid column -->
              <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <!-- Content -->
                <h6 class="text-uppercase fw-bold mb-4">
                  <i class="fas fa-gem me-3"></i>Imali.biz ltd
                </h6>
                <p>
                  Smart apps to Match stakeholders in real estate to the buyer and sort out the inefficiencies of value chain in housing supply.                </p>
              </div>
              <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">
                  Services: 
                </h6>
                <p>
                  <a href="{%url 'land'%}" class="text">Land</a>
                </p>
                <p>
                  <a href="{%url 'investor'%}" class="text">Investor</a>
                </p>
                <p>
                  <a href="{%url 'developer'%}" class="text">Developer</a>
                </p>
                <p>
                  <a href="{%url 'buyer'%}" class="text">Buyer</a>
                </p>
              </div>
              
              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">
                  Useful links
                </h6>
                <p>
                  <a href="#!" class="text-reset">Pricing</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Settings</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Orders</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Help</a>
                </p>
              </div>
              <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">
                  Contact
                </h6>
                <p><i class="fas fa-home me-3"></i> Kicukiro Kigali Rwanda</p>
                <p>
                  <i class="fas fa-envelope me-3"></i>
                  info@imali.biz
                </p>
                <!-- <p><i class="fas fa-phone me-3"></i> + 4447934762181</p> -->
              </div>
            </div>
       <br><br><br>
      
      <p>
        <img
        src="{% static 'Images/imalilogo.png' %}"
        alt="logo"
        style="width: 8%; margin-right: 100px;"
      />
        &copy; © Copyright 2010 - 2021, IMALI.biz Ltd</p>
      </footer>
    </div>

  </div>
  <!-- End of .container -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
<!-- first page -->

  </body>
</html>
