{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}Imali.biz{% endblock %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <style>
      body {
        font-family: 'Hina Mincho', serif;
      }
      .nav-item {
        color: white;
        text-decoration: none;
        padding-left: 20px;
        padding-right: 30px;
        font-size: 1.2rem;
      }
      .nav-item:hover {
        color: #a8c634;
      }
      .flex-container {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  text-align: center;
}
.flex-container a {
  color: white;
  text-decoration: none;
}


.flex-item-left {
  background-color: rgba(0, 0, 0, 0.6);;
  padding: 10px;
  flex: 50%;
}

.flex-item-right {
  background-color: rgba(0, 0, 0, 0.6);;
  padding: 10px;
  flex: 50%;
}
.real{
font-family: 'Roboto';
text-align: center;
font-size: 30px;
font-weight: bold;

}
.realy{
font-family: 'Roboto';
text-align: center;
font-size: 25px;
font-weight: bold;
}
.invest{
position: absolute;
width: 300px;
height: 400px;
margin-left: 40%;
margin-right: 60%;
background: rgba(196, 196, 196, 0.1);
border: 1px solid #000000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.footer{
  background-color: #010203;
  bottom: 0;
  width: 100%;
  height: auto;
  position: relative;
  margin-top: 30px;
  
}
.footer a{
  color: white;
  text-decoration: none;
}
@media (max-width: 800px) {
  .flex-container {
    flex-direction: row;
  }
}
    </style>
  </head>
  <body>
    <div style="background-color: black; height: 80px;">
    <nav class="navbar navbar-expand-sm black navbar-dark">
      <a class="navbar-brand" href="{%url 'home'%}">
        <img
          src="{% static 'Images/imalilogo.png' %}"
          alt="logo"
          style="width: 90%; margin-left: 30px;"
        />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarText"
        aria-controls="navbarText"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText" style="background-color: black;">
        <ul class="navbar-nav mr-auto"></ul>
        <div>
          <a
            style="text-decoration: none;"
            class="nav-item"
            href="{%url 'home'%}"
          >
          Land
          </a>
          <a
            style="text-decoration: none;"
            class="nav-item"
            href="{%url 'home'%}"
          >
            Investors
          </a>
          <a
            style="text-decoration: none;"
            class="nav-item"
            href="{%url 'home'%}"
          >
          Developers          </a>
          <a
            style="text-decoration: none;"
            class="nav-item"
            href="{%url 'home'%}"
          >
          Buyers
          </a>
          <a
            style="text-decoration: none;"
            class="nav-item"
            href="{%url 'home'%}"
          >
          Data
          </a>
        </div>
      </div>
    </nav>
    <div class="flex-container">
      <a class="flex-item-left" href="{%url 'landexplanation'%}">Feasability</a>
      <a class="flex-item-right" href="{%url 'landexplanation'%}">Desirability</a>
      <a class="flex-item-right"href="{%url 'landexplanation'%}">Viability</a>
    </div>
    <!-- body code -->
<div>
  <h1 class="real">Land</h1>  
  <p style="text-align:center;">Real estate search engine to understand and analyze the value of lands and properties </p>
  <p style="font-weight: bold;margin:30px;">All the data in one place with one click</p>
  <p style="margin:30px;">Analyzing a real estate project became simpler. Imali.biz technology allows you to deep dive into your due diligence data checking process and takes your decision easier and faster with
    more data and assurance</p>
    <h1 class="real">How does it work?</h1>
    <div style="margin:30px;">
    <p style="font-weight: bold;">Aggregation:</p>
  <p>Imali.biz search engine collects data 24/7 from dozens of sources into one platform. This data includes insights about the actual status of the property, delivered building permits in the area, recent deals made around the address, the average price per square, and statistics. You will also find assessors’ 
    reports, legal insights, public transportation, and demographic data.
</p>
    <p style="font-weight: bold;">Digitization</p>
  <p>By leveraging automated processes, machine learning, and artificial intelligence, the imali.biz system generates data from offline sources. Thanks to automated processes and AI, imali.biz automatically updates its maps, schemas, and PDF links, such as building rights policies, into future urban plans, which allows us to create unique data.
</p>
    <p style="font-weight: bold;">Standardization</p>
  <p>Creating an ID for every parcel and building on the Imali.biz platform. Just like that, in one click, you could work with all the data we gathered from different sources, added to the data we created. Thanks to this work, you will understand your real estate projects better, and gain insights and in-depth knowledge that doesn't exist anywhere else.</p>
    <p style="font-weight: bold;">Land owner match with stakeholders</p>
  <p>•	Land purchase costs </p>
  <p>•	We look for sites, land or plots that either have planning permission, or other significant development potential. This also includes existing houses with building plots to the side or rear.</p>
   <p>•	Tip: use your land upi</p>
</div>
</div>
<h1 class="real">SIMPLIFYING REAL ESTATE</h1>
<p style="margin:30px;">Real estate smart apps to understand and analyze the value of lands and properties    All the data on one place. On one click Analyzing a real estate project became simpler, imali.biz
    technology allows you deep dive into you due diligence data checking process and take your decisions easier and faster with more data and assurance From our vast experience in 
    real estate and technology we created  imali.biz- a smart apps for understanding the true value of lands and assets. Real estate developers, lawyers, architects, realtors, appraisers
     and analysts- we are here to save you time and efforts. All the information you need, is now a click of a button away.</p>
     <h1 class="real">Land Feasibility</h1>
     <div style="margin:30px;">
     <p > <span style="font-weight:bold;"> What was Imali.biz scoring based on?</span>In Imali.biz we developed a scoring system. By means of a series of variables, a higher or lower score was offered depending on the risk:</p>
      <p style="font-weight:bold;">• 50% of the risk rating comes from the analysis from the real estate point of view of the opportunity;</p>
      <p >-Location, Developer’s experience,Selling price,Construction,Appraisal price, Big Data Price, Zoning
        </p>
        <p style="font-weight:bold;">• The other 50% comes from financial analysis;</p>
        <p>-Financial ratios,Working capital, Creditworthiness models,Warranties</p>
        <p class="realy">And after this analysis the projects were classified in this way: </p>    
        </div>
        <div class="invest">
            <p class="realy" style="color:#0FA958;">FEASIBILITY</p>    
            <div style="display:flex;  justify-content: space-between; color:#0FA958; margin: 8%;">
            <p>SCORING</p>
            <p>QAULITY</p>
            </div>
            <div class="container" style="margin: 30px;">
    <div class="row">
        <div class="col card">AAA</div>
        <div class="col">2</div>
    </div>
    <div class="row">
        <div class="col card">AA</div>
        <div class="col">5</div>

    </div>
</div>
        </div>
{% if land.profile %}
          <td><img src="{{land.profile.url}}"></td>
          {% endif %}
       <!-- footer code  -->
  <div class="footerspacer"></div>
  <div class="container-fluid">
      <div class="row">
        <footer class="footer" style="color: white;">
      
          <!-- Right -->
          <div>
            
        <section class="">
          <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
              <!-- Grid column -->
              <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <!-- Content -->
                <h6 class="text-uppercase fw-bold mb-4">
                  <i class="fas fa-gem me-3"></i>Imali.biz ltd
                </h6>
                <p>
                  Smart apps to Match stakeholders in real estate to the buyer and sort out the inefficiencies of value chain in housing supply.                </p>
              </div>
              <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">
                  Services: 
                </h6>
                <p>
                  <a href="{%url 'land'%}" class="text">Land</a>
                </p>
                <p>
                  <a href="{%url 'investor'%}" class="text">Investor</a>
                </p>
                <p>
                  <a href="{%url 'investor'%}" class="text">Developer</a>
                </p>
                <p>
                  <a href="{%url 'buyer'%}" class="text">Buyer</a>
                </p>
              </div>
              
              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">
                  Useful links
                </h6>
                <p>
                  <a href="#!" class="text-reset">Pricing</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Settings</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Orders</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Help</a>
                </p>
              </div>
              <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">
                  Contact
                </h6>
                <p><i class="fas fa-home me-3"></i> Kicukiro Kigali Rwanda</p>
                <p>
                  <i class="fas fa-envelope me-3"></i>
                  info@imali.biz
                </p>
                <!-- <p><i class="fas fa-phone me-3"></i> + 4447934762181</p> -->
              </div>
            </div>
       <br><br><br>
      
      <p>
        <img
        src="{% static 'Images/imalilogo.png' %}"
        alt="logo"
        style="width: 8%; margin-right: 100px;"
      />
        &copy; © Copyright 2010 - 2021, IMALI.biz Ltd</p>
      </footer>
    </div>

  </div>
  <!-- End of .container -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
<!-- first page -->

  </body>
</html>
