{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}Imali.biz{% endblock %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link
      rel="stylesheet"
      href="path/to/font-awesome/css/font-awesome.min.css"
    />
    <style>
      body {
        font-family: 'Hina Mincho', serif;
      }
      .nav-item {
        color: white;
        text-decoration: none;
        padding-left: 20px;
        padding-right: 30px;
        font-size: 1.2rem;
      }
      .nav-item:hover {
        color: #a8c634;
      }
      .flex-container {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  text-align: center;
}
.flex-container a {
  color: white;
  text-decoration: none;
}


.flex-item-left {
  background-color: rgba(0, 0, 0, 0.6);;
  padding: 10px;
  flex: 50%;
}

.flex-item-right {
  background-color: rgba(0, 0, 0, 0.6);;
  padding: 10px;
  flex: 50%;
}
.real{
font-family: 'Roboto';
text-align: center;
font-size: 30px;
font-weight: bold;
margin-top:2%;

}
h3{
  text-align: center;
  font-weight: bold;
}
.cards{
  background-color: #C4C4C4;
  height: 220vh;
}
.sub_title{
  font-weight: bold;
  text-align: center;

}
.fex{
  width: 9%;
  text-align: center;
  color: #FFFFFF;
  padding: 1%;
  margin-top: 2%;
}
.dot {
width: 140px;
height: 140px;
border-radius: 50%;
background: #FFFFFF; 
border: 1px solid #000000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.column {
  float: left;
  width: 16.33%;
  padding: 5px;
}
.column:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
.invest{
position: absolute;
width: 250px;
height: 415px;
left: 330px;
top:120px;
background: rgba(245, 243, 243, 0.1);
border: 1px solid #000000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.invest2{
position: absolute;
width: 250px;
height: 310px;
left: 330px;
top:140px;
background: rgba(245, 243, 243, 0.1);
border: 1px solid #000000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.footer{
  background-color: #010301;
  bottom: 0;
  width: 100%;
  height: auto;
  margin-top: 2%;
}
.button {
  width: 40%;
  height: 7%;
  text-align: center;
  border-radius: 10px;
  color: white;
  background-color: #0FA958;
  margin-left: 30%;
 }
.footer a{
  color: white;
  text-decoration: none;
}
@media (max-width: 800px) {
  .flex-container {
    flex-direction: row;
  }
}
    </style>
  </head>
  <body>
    <div style="background-color: black; height: 80px;">
    <nav class="navbar navbar-expand-sm black navbar-dark">
      <a class="navbar-brand" href="{%url 'home'%}">
        <img
          src="{% static 'Images/imalilogo.png' %}"
          alt="logo"
          style="width: 90%; margin-left: 30px;"
        />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarText"
        aria-controls="navbarText"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText" style="background-color: black;">
        <ul class="navbar-nav mr-auto"></ul>
        <div>
          <a
            style="text-decoration: none;"
            class="nav-item"
            href="{%url 'land'%}"
          >
          Land
          </a>
          <a
            style="text-decoration: none;"
            class="nav-item"
            href="{%url 'investor'%}"
          >
            Investors
          </a>
          <a
            style="text-decoration: none;"
            class="nav-item"
            href="{%url 'developer'%}"
          >
          Developers          </a>
          <a
            style="text-decoration: none;"
            class="nav-item"
            href="{%url 'buyer'%}"
          >
          Buyers
          </a>
          <a
            style="text-decoration: none;"
            class="nav-item"
            href="{%url 'data'%}"
          >
          Data
          </a>
        </div>
      </div>
    </nav>
    <!-- body code -->
    <div class="flex-container">
      <a class="flex-item-left" href="{%url 'landexplanation'%}">Feasability</a>
      <a class="flex-item-right" href="{%url 'landexplanation'%}">Desirability</a>
      <a class="flex-item-right"href="{%url 'landexplanation'%}">Viability</a>
    </div>
   
    <div>
      <h1 class="real">ALL IN ONE REAL ESTATE SERVICE</h1>
      <p style="margin:1%;">Imali.biz is a fractional investment platform with the mission to make property accessible for all Rwandan by Matching stakeholders in real estate to the buyer and sort out the inefficiencies of value chain in housing supply.
      </p>
    </div>
    <div class="cards">
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h3>LAND OWNER</h3>
            <h5 class="sub_title">Put down your land, we‘re here to connect you with investors</h5>
            <p class="card-title" style="text-align:center">Kagugu Plot for Sale</p>
            <img src="{% static 'Images/image4.png' %}" class="card-img-top" alt="...">
            <div class="row">
              <div class="column">
                <img src="{% static 'Images/image62.png' %}" alt="Snow" style="width:100%">
              </div>
              <div class="column">
                <img src="{% static 'Images/image63.png' %}" alt="Forest" style="width:100%">
              </div>
              <div class="column">
                <img src="{% static 'Images/image59.png' %}" alt="Mountains" style="width:100%">
              </div>
              <div class="column">
                <img src="{% static 'Images/image68.png' %}" alt="Mountains" style="width:100%">
              </div>
              <div class="column">
                <img src="{% static 'Images/image61.png' %}" alt="Mountains" style="width:100%">
              </div>
              <div class="column">
                <img src="{% static 'Images/greenhouse1.png' %}" alt="Mountains" style="width:100%">
              </div>
            </div>
            <div class="row">
                <p class="fex" style="background-color:#0FA958;">AAA</p>
              <div class="column" style="margin-left:5%;">
                <img src="{% static 'Images/image2).png' %}" alt="Forest" style="width:50%">
              </div>
              <div class="column">
                <img src="{% static 'Images/image 65.png' %}" alt="Mountains" style="width:50%">
              </div>
              <div class="column">
                <img src="{% static 'Images/image 66.png' %}" alt="Mountains" style="width:50%">
              </div>
              <div class="column">
                <img src="{% static 'Images/image 67.png' %}" alt="Mountains" style="width:50%">
              </div>
            </div>
            <a href="{%url 'land_form'%}" class="btn bg-dark" style="color:white; text-align: center;"> Sell  the Land</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h3>INVESTOR</h3>
            <h5 class="sub_title">You can invest in a property from <span style="color:#0FA958;">$100</span>, check out  more  </h5>
            <p class="card-title" style="text-align:center">Kagugu building</p>
            <img src="{% static 'Images/image3.png' %}" style="height:400px; width: 300px; margin-top:-2.5%;" class="card-img-top" alt="...">
            <div class="invest">
              <p style=" text-align: center;margin-right:22%;">Kagugu building<span style="font-weight: bold;margin-left:17%">Rwf</span></p>
                <p style="text-align: center;margin-right:22%;">PHASE: <span style="font-weight: bold;margin-left:20%">FUNDING</span> </p>
                <p style="text-align: center;">92,145,000 RWF <span style="color:#0FA958;font-weight: bold;margin-left:17%"> $9500,000</span></p>
                <img src="{% static 'Images/Group 34.png' %}" style="margin-left:15%;width: 70%;margin-top:-14%;" class="card-img-top" alt="...">
                <p style="text-align: center;margin-right:5%;">203  Investors<span style="margin-left:20%">11 days left</span> </p>
                <p style="text-align: center;margin-right:25%;">Term :   <span style="color:#0FA958;font-weight: bold;margin-left:17%"> 24 Months</span></p>
                <p style="text-align: center;margin-right: 7%;">Type: <span style="margin-left:20%"> Development loan</span> </p>
                <p style="text-align: center;margin-right:25%;">Annual yield: <span style="font-weight: bold;margin-left:17%"> 15%</span></p>
                <p style="text-align: center;margin-right:27%;">Total yield:<span style="margin-left:20%"> 45%</span> </p>
                <p style="text-align: center;">Minimum investment:<span style="color:#0FA958;font-weight: bold;margin-left:17%"> $100</span></p>
                <a  href=""><input type="submit" value="Invest" class="button" /></a>
            </div>
            <div class="row">
              <p class="fex" style="background-color:#0FA958;">AAA</p>
            <div class="column">
              <img src="{% static 'Images/image2).png' %}" alt="Forest" style="width:50%">
            </div>
            <div class="column">
              <img src="{% static 'Images/image 65.png' %}" alt="Mountains" style="width:50%">
            </div>
            <div class="column">
              <img src="{% static 'Images/image 66.png' %}" alt="Mountains" style="width:50%">
            </div>
            <div class="column">
              <img src="{% static 'Images/image 67.png' %}" alt="Mountains" style="width:50%">
            </div>
          </div>
          <a href="{%url 'investor'%}" class="btn bg-dark" style="color:white; text-align: center;margin-top: 4%;"> Ckeck more House</a>
        </div>
        </div>
      </div>
    </div>
    <!-- 2rd section of cards -->
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h3>DEVELOPER</h3>
              <h5 class="sub_title">Welcome to work with us to unlock opportunities</h5>
              <p class="card-title" style="text-align:center">Kibagabaga Artcheture</p>
              <img src="{% static 'Images/image21.png' %}"   style="height:335px;width: 300px;"class="card-img-top" alt="...">
              <div class="invest2">
                <p style="text-align:center;">Contraction material </p>
                <p style=" text-align: center;margin-right:22%;">Bricks<span style="font-weight: bold;margin-left:17%">500000</span></p>
                  <p style="text-align: center;margin-right:22%;margin-top:-6%;">Woods <span style="font-weight: bold;margin-left:20%">3000</span> </p>
                  <p style="text-align: center;margin-right:25%;margin-top:-6%;">Sand <span style="color:#0FA958;font-weight: bold;margin-left:17%"> 24000</span></p>
                  <p style="text-align: center;margin-right:20%;margin-top:-6%;">Windows<span style="margin-left:20%"> 18</span> </p>
                  <p style="text-align: center;margin-right:30%;margin-top:-6%;">Doors   <span style="font-weight: bold;margin-left:17%"> 11</span></p>
                  <p style="text-align: center;margin-right: 20%;margin-top:-6%;">Cement<span style="margin-left:20%"> 25</span> </p>
                  <p style="text-align: center;margin-right:25%;margin-top:-6%;">Colors  <span style="font-weight: bold;margin-left:17%"> 30</span></p>
                  <p style="text-align: center;margin-right:27%;margin-top:-6%;">Storage<span style="margin-left:20%"> V</span> </p>
              </div>
              
              <div class="row">
                <div class="column">
                  <img src="{% static 'Images/image62.png' %}" alt="Snow" style="width:100%">
                </div>
                <div class="column">
                  <img src="{% static 'Images/image63.png' %}" alt="Forest" style="width:100%">
                </div>
                <div class="column">
                  <img src="{% static 'Images/image59.png' %}" alt="Mountains" style="width:100%">
                </div>
                <div class="column">
                  <img src="{% static 'Images/image68.png' %}" alt="Mountains" style="width:100%">
                </div>
                <div class="column">
                  <img src="{% static 'Images/image61.png' %}" alt="Mountains" style="width:100%">
                </div>
                
              </div>    
            <button type="button" class="btn .bg-light border border-success btn-icon-text " style="margin-top:2%;margin-left: 10%;">
              <i class="fa fa-picture-o "></i>
                  Photo
              </button>
              <button type="button" class="btn .bg-light border border-success btn-icon-text "style="margin-top:2%;margin-left: 2%;">
                <i class="fa fa-floppy-o "></i>
                Flow plan
                </button>
                <button type="button" class="btn .bg-light border border-success btn-icon-text "style="margin-top:2%;margin-left:3%;">
                  <i class="fa fa-youtube-play "></i>
                  Video
                  </button>       
            </div>
            <a href="{%url 'developer'%}" class="btn bg-dark" style="color:white;margin-left:30%;margin-top:2%;width: 20%;">Tender</a>
      </div>
  
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h3>HOME BUYERS</h3>
              <h5 class="sub_title">Did you know, you can own your House from <span style="color:#0FA958;">$5000</span></h5>
              <p class="card-title" style="text-align:center">Kibagabaga apartment</p>
              <img src="{% static 'Images/image11.png' %}" style="height:335px;" class="card-img-top" alt="...">
              <div class="row">
                <div class="column">
                  <img src="{% static 'Images/image62.png' %}" alt="Snow" style="width:100%">
                </div>
                <div class="column">
                  <img src="{% static 'Images/image63.png' %}" alt="Forest" style="width:100%">
                </div>
                <div class="column">
                  <img src="{% static 'Images/image59.png' %}" alt="Mountains" style="width:100%">
                </div>
                <div class="column">
                  <img src="{% static 'Images/image68.png' %}" alt="Mountains" style="width:100%">
                </div>
                <div class="column">
                  <img src="{% static 'Images/image61.png' %}" alt="Mountains" style="width:100%">
                </div>
                <div class="column">
                  <img src="{% static 'Images/greenhouse1.png' %}" alt="Mountains" style="width:100%">
                </div>
                 <button type="button" class="btn bg-success border border-success btn-icon-text text-white " style="margin-top:2%;margin-left: 25%;">
              <i class="fa fa-picture-o "></i>
                  Photo
              </button>
              <button type="button" class="btn .bg-light border border-success btn-icon-text "style="margin-top:2%;margin-left: 2%;">
                <i class="fa fa-floppy-o "></i>
                Flow plan
                </button>
                <button type="button" class="btn .bg-light border border-success btn-icon-text "style="margin-top:2%;margin-left: 2%;">
                  <i class="fa fa-youtube-play "></i>
                  Video
                  </button>
              </div><a href="{%url 'buyer'%}" class="btn bg-dark" style="color:white;margin-left:40%;margin-top:2%;">Buy a Home</a>
            </div>
          </div>
        </div>
      </div>
  </div>
  <!-- data section  -->
 <div>
  <div>
    <h1 class="real"> Let Data Work for You </h1>
    <p style="text-align: center;">All the data on one place. On one click </p>
    
    <div class="dot" style="text-align:center;margin-left: 150px;">
    
      <img
      src="{% static 'Images/vector.png' %}"
      alt="logo"
      style="width: 30%; margin-left: 10px;"
    />
      <p>Tatal Land Size  </p>
      <p style="color:#0FA958 ;">26000sqm² </p>
  
    </div>
    <div class="dot" style="text-align:center; margin-left: 400px; margin-top:-135px;">
      <img
      src="{% static 'Images/Vector(1).png' %}"
      alt="logo"
      style="width: 20%; margin-left: 10px;"
    />
      <p>Total amount invested </p>
      <p style="color:#0FA958 ;">$30,000,000 </p>
  
    </div>
    <div class="dot" style="text-align:center; margin-left: 650px; margin-top:-140px;">
      <img
      src="{% static 'Images/Group.png' %}"
      alt="logo"
      style="width: 30%; margin-left: 10px;"
    />
      <p> Total  Developers </p>
      <p style="color:#0FA958 ;">78 dev </p>
  
    </div>
     <div class="dot" style="text-align:center; margin-left: 900px; margin-top:-140px">
      <img
      src="{% static 'Images/Group (1).png' %}"
      alt="logo"
      style="width: 30%; margin-left: 10px;"
    />
      <p>Total Land sold </p>
      <p style="color:#0FA958 ;">121 Land </p>
  
    </div> 
  </div>
<div class="footerspacer"></div>
  <div class="container-fluid">
      <div class="row">
        <footer class="footer" style="color: white;">
      
          <!-- Right -->
          <div>
            
        <section class="">
          <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
              <!-- Grid column -->
              <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <!-- Content -->
                <h6 class="text-uppercase fw-bold mb-4">
                  <i class="fas fa-gem me-3"></i>Imali.biz ltd
                </h6>
                <p>
                  Smart apps to Match stakeholders in real estate to the buyer and sort out the inefficiencies of value chain in housing supply.                </p>
              </div>
              <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">
                  Services: 
                </h6>
                <p>
                  <a href="{%url 'land'%}" class="text">Land</a>
                </p>
                <p>
                  <a href="{%url 'investor'%}" class="text">Investor</a>
                </p>
                <p>
                  <a href="{%url 'investor'%}" class="text">Developer</a>
                </p>
                <p>
                  <a href="{%url 'buyer'%}" class="text">Buyer</a>
                </p>
              </div>
              
              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">
                  Useful links
                </h6>
                <p>
                  <a href="#!" class="text-reset">Pricing</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Settings</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Orders</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Help</a>
                </p>
              </div>
              <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">
                  Contact
                </h6>
                <p><i class="fas fa-home me-3"></i> Kicukiro Kigali Rwanda</p>
                <p>
                  <i class="fas fa-envelope me-3"></i>
                  info@imali.biz
                </p>
                <!-- <p><i class="fas fa-phone me-3"></i> + 4447934762181</p> -->
              </div>
            </div>
       <br><br><br>
      
      <p>
        <img
        src="{% static 'Images/imalilogo.png' %}"
        alt="logo"
        style="width: 8%; margin-right: 100px;"
      />
        &copy; © Copyright 2010 - 2021, IMALI.biz Ltd</p>
      </footer>
    </div>

  </div>
  <!-- End of .container -->
  <!-- End of .container -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
<!-- first page -->

  </body>
</html>
